<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<!--<div id="lists">
  <%# @lists.each do |list| %>
    <%#= render list %>
    <p>
      <%#= link_to "Show this list", list %>
    </p>
  <%# end %>
</div>-->

<table id="lists" class="table table-striped" data-controller="dataTables">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>+/- list items</th>
    </tr>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <%= render list %>
    <% end %>
  </tbody>
</table>

<%= link_to "New list", new_list_path %>
