<p style="color: green"><%= notice %></p>

<h1>Payees / Vendors</h1>

<table id="businesses" class="table table-striped" data-controller="dataTables">
  <thead>
    <tr>
      <!--<th>ID</th>
      <th>USER_ID</th>-->
      <th>Name</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Notes</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @businesses.each do |business| %>
      <%= render business %>
    <% end %>
  </tbody>
</table>

<%= link_to "New payee / vendor", new_business_path %>