<h1>R3cibo Testing</h1>
<p>Welcome to test. Follow the instructions below.</p>
<p>Please note - at this point, instructions are not structured for mobile, but this will work on your phone.</p>
<ol>
    <li>Create an Account
        <ol type="A">
            <li>Click Accounts at the top</li>
            <li>On the Accounts page, click New account at the bottom</li>
            <li>At New account, enter data in the available fields</li>
            <li>Click the Create Account button</li>
        </ol>
    <li>Create a Business
        <ol type="A">
            <li>Click Buisnesses at the top</li>
            <li>On the Businesses page, click New business at the bottom</li>
            <li>At New business, enter data into the available fields</li>
            <li>Click the Create Business button</li>
        </ol>
    <li>Create a List
        <ol type="A">
            <li>Click Lists at the top</li>
            <li>On the Lists page, click New list at the bottom</li>
            <li>At New list, enter data into the available fields</li>
            <li>Click the Create List button</li>
        </ol> 
    <li>Add list items
        <ol type="A">
            <li>Click Lists at the top</li>
            <li>Click the plus sign for the list you want to add an item</li>
            <li>At New list entry, enter data into the available fields</li>
            <li>Click the Create List entry button</li>
        </ol>
</ol>